@import "../../variables.scss";

.solde{
    height: 200px;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text{
        display: flex;
        flex-direction: row;
        gap: 25px;

        span{
            width: 70px;
            height: 70px;
            min-width: 70px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;

            svg{
                width: 100%;
            }
        }

        > div{
            display: flex;
            flex-direction: column;

            > :nth-child(1){
                display: flex;
                align-items: baseline;
                gap: 5px;

                p{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 100%;

                    &:nth-child(2){
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 400;
                        height: 14px;
                    }
                }
            }

            > :nth-child(2){
                font-weight: 400;
                font-size: 16px;
            }
        }
    }

    .btn-grp{
        margin-top: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 13px;
    }

}

.buy{
    height: 200px;
    padding: 0 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;

    img{
        width: 140px;
        height: 140px;
        border-radius: 8px;
        background-color: white;
        object-fit: scale-down;
    }

    div{
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 140px;
        justify-content: space-between;

        span{
            display: flex;
            justify-content: space-between;
        }
    }
}

.activity{
    display: flex;
    flex-direction: column;
    max-height: 38px;

    span{
        display: flex;
    }
}

.logo-inversed{
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    svg{
        width: 50%;
        height: 50%;
    }
}

.stat-content{
    max-height: 200px;
}

.chart-content{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;

    canvas{
        transform: scale(1.02);
    }

    &:after {
        position: absolute;
        content:"";
        height:100%;
        width:100%;
        top:0;
        left:0;
        background: linear-gradient(to bottom, rgba(255,0,0,0) 50%,$grey 100%);
    }
}